<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Collaboartors')"></head>
<body>
<div th:replace="layout :: new"></div>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>

<section>
    <div class="container wrapper">
        <form th:action="@{|/collaborators/update|}" method="post" th:object="${collaborator}">
            <h2>Edit Collaborator</h2>
            <div class="actions add-new-collaborator" th:classappend="${#fields.hasErrors('name')}? 'error' : ''">
                <input th:style="${#fields.hasErrors('name')}? 'margin-bottom:0' : ''" th:field="*{name}" type="text" placeholder="Name..."/>
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <input type="hidden" th:field="*{id}"/>
                <div class="custom-select">
                    <span class="dropdown-arrow"></span>
                    <select th:field="*{role}">
                        <option th:each="role: ${roles}" th:text="${role.name}" th:value="${role.id}">Role...
                            <input type="hidden" th:field="*{role.id}" th:value="${role.id}"/>
                        </option>
                    </select>
                </div>
            </div>
            <div class="actions">
                <button type="submit" class="button">Update</button>
                <a th:href="@{/collaborators}" class="button button-secondary">Cancel</a>
            </div>
        </form>
        <div class = "actions-delete">
            <form method="post" th:action="@{|/collaborators/${collaborator.id}/delete|}">
                <button type="submit" class="button">Delete</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>